body{
    background-color: violet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

h1{
    text-align: center;
}

#infoBar{
    height: 5vh;
    width: 65vw;
    border-radius: 6pt;
    background-color: darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answerContainer{
    height: 36pt;
    width: 50vw;
    border-radius: 3pt;
    padding: 12pt 0;
    display: flex;
    background-color: blueviolet;
}

#keypadContainer{
    width: 60vw;
    height: 100vw;
    border-radius: 2vw;
    background-color: rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.keypadButton{
    margin: 2vw;
    flex-basis: 16vw;
    aspect-ratio: 5/6;
    flex-grow: 0;
    flex-shrink: 1;
    background-color: darkorchid;
    border-radius: 2vw;

    font-family: Helvetica;
    font-size: 12vw;
    font-weight: bold;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}